node_modules/
.next/
dist/
build/
.env
.DS_Store
*.zip
*.mp4
!public/videos/sfondohero8.mp4
*.mov
*.sqlite
*.db

.env.local
*.env.local

.env.local
*.env.local
tsconfig.tsbuildinfo

node_modules/
node_modules 2
